<mat-toolbar color="primary">
<div class="header">
  <div class="title" routerLink="/">Dad's jokes</div>
  <div class="title" routerLink="/favorites">Favorites</div>
  <div class="placeholder">&nbsp;</div>
  <div *ngIf="(isLoggedIn$ | async) === false" class="login-button"><button mat-raised-button (click)="goToLogin()">Login</button></div>
  <div *ngIf="(isLoggedIn$ | async)" class="logged-in-bar">
    <div class="title" routerLink="/profile">Profile</div>
    <div>
      <button class="logout-button" id="logout-btn" mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
</mat-toolbar>
